
.btn-red {
	background-color: red;
	color: white;
	padding: 10px 25px;
	border-radius: 30px;
	transition: ease 0.8s;
	opacity: 0.8;
}

.btn-red:hover, .btn-blue:hover, .btn-blue-tr:hover {
	opacity: 1;
	box-shadow: 1px 3px rgba(30, 30, 30, 0.7);
}

.btn-blue {
	background-color: #2087E5; 
	color: white;
	padding: 8px 40px;
	border-radius: 3px;
	font-weight: bolder;
	opacity: 0.85;
	transition: ease 0.8s;
}

.btn-blue-tr {
	background-color: 
	color: blue;
	padding: 8px 40px;
	border: solid 2.5px blue;
	border-radius: 4px;
	opacity: 0.85;
	transition: ease 0.8s;
}